html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color:rgba(13, 183, 234, 0.93);
    background-position: center top;
    background-size: cover;
    margin: 0;
  }


  p {
    font-size: 14px
  }

  a {
    color: #204156;
    text-decoration: none;
  }

  .page-title {
    text-align: center;
    font-weight: 100;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
    font-size: 16px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content:center;
    margin: 20px;
    border: 5px solid #000;
  }

  /* FOOTER NAVIGATION */

  nav li {
    display: inline;
    margin: 0;
    padding:20px;
    align-content: center;
  }

  nav ul {
    display: inline;
    align-content: center;
    padding-left:20px;
  }

  .contact-btn {
    float: right;
    justify-content: center;
  }

  .contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
    align-content: center;
  }

  .contact-btn a:active {
    justify-content: center;
    top:2px;

  }

  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
